---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import heroImage from "@images/hero-image.avif";
import features from "@data/en/features.json";

import featureImage from "@images/features-image.avif";
import Estrich from "@images/estrich1.jpg";
import Beton from "@images/beton1.jpg";
import Putz from "@images/putzbaus.jpg";
import Boden from "@images/estrich2.jpg";

import { getRelativeLocaleUrl } from "astro:i18n";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

const deFlag = `<div
  class="flex w-8 flex-col items-start justify-start  rounded-md border-2 border-white"
>
  <span class="flex h-2 w-full bg-black rounded-t-md"></span>
  <span class="flex h-2 w-full bg-red-500"></span>
  <span class="flex h-2 w-full bg-yellow-500 rounded-b-md"></span>
</div>`;
---

<MainLayout lang={"en"}>
  <HeroSection
    title=`Building the future with <span
    class="text-white dark:text-black bg-black dark:bg-white rounded-2xl px-3">Zeko Bau</span>`
    subTitle="High-quality screed construction, concrete construction, floor coating and plastering services for every project requirement."
    primaryBtn="Show projects"
    primaryBtnURL={getRelativeLocaleUrl("en", "products")}
    secondaryBtn="Contact"
    secondaryBtnURL={getRelativeLocaleUrl("en", "contact")}
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`More than <span class="font-bold">12,8k</span> Reviews`
    src={heroImage}
    alt="Stack of Zeko Bau product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Industry leaders rely on us"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title=`Meeting the requirements of the industry (DIN standard)  ${deFlag}`
    subTitle="At Zeko Bau, we take on the unique challenges of the construction sector. We want to help you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="lorem"
    features={features}
  />

  <FeaturesNavs
    title=`Customise the <span class="text-yellow-500 dark:text-yellow-400">Zeko Bau</span> range perfectly to your construction needs. `
    tabs={[
      {
        heading: "Screed construction",
        content:
          "Our company specialises in interior and exterior Screed Construction. We ensure a perfect surface, whether it's for protection, insulation or aesthetics. Our experts work precisely and efficiently to achieve the best results.",
        svg: "tools",
        src: Estrich,
        alt: "interior and exterior Screed Construction",
        first: true,
      },
      {
        heading: "Concrete wall",
        content:
          "As professionals in concrete wall construction, we offer durable and robust solutions for your building projects. Our concrete walls are not only stable, but also aesthetically pleasing to fulfil our customers' requirements.",
        svg: "dashboard",
        src: Beton,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Plaster construction",
        content:
          "We are your reliable partner for professional plaster construction. We realise projects of all sizes with precision and care - from simple wall cladding to complex façade design.",
        svg: "dashboard",
        src: Putz,
        alt: " plaster construction",
        second: true,
      },
      {
        heading: "Floor coating",
        content:
          "As a leading specialist in floor coating, we offer innovative solutions for industrial, commercial and private areas. Our high-quality coating systems not only protect your floors from wear and chemical influences, but also improve the safety and aesthetics of your premises.",
        svg: "house",
        src: Boden,
        alt: "lorem",
      },
    ]}
  />

  <HeroSectionAlt
    title="Let's build together"
    subTitle="We are ready with our team of experts."
    url="https://github.com/mearashadowfax/zekobau"
  />
</MainLayout>
