---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
/* import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro"; */
import heroImage from "@images/hero-image.avif";
/* import faqs from "@data/faqs.json"; */
import features from "@data/features.json";
/* import pricing from "@data/pricing.json"; */
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import Estrich from "@images/estrich1.jpg";
import Beton from "@images/beton1.jpg";
import Putz from "@images/putzbaus.jpg";
import Boden from "@images/estrich2.jpg";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

const deFlag = `<div
  class="flex w-8 flex-col items-start justify-start  rounded-md border-2 border-white"
>
  <span class="flex h-2 w-full bg-black rounded-t-md"></span>
  <span class="flex h-2 w-full bg-red-500"></span>
  <span class="flex h-2 w-full bg-yellow-500 rounded-b-md"></span>
</div>`;
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore Zeko Bau on GitHub"
    url="https://github.com/mearashadowfax/Zeko Bau"
  /> -->

  <HeroSection
    title=`Die Zukunft Aufbauen mit <span
        class="text-white dark:text-black bg-black dark:bg-white rounded-2xl px-3">Zeko Bau</span>`
    subTitle="Hochwertige Estrichbau, Betonbau, Bodenbeschichtung, und Putzbauleistungen für jeden Projektbedarf."
    primaryBtn="Projekte anzeigen"
    primaryBtnURL="/projekte"
    secondaryBtn="Kontakt"
    secondaryBtnURL="/kontakt"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Aus über <span class="font-bold">12.8k</span> Bewertungen`
    src={heroImage}
    alt="Stack of Zeko Bau product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Branchenführer vertrauen auf uns"
    subTitle="Erleben Sie die Zuverlässigkeit, die von Branchenriesen gewählt wird."
  />

  <FeaturesGeneral
    title=`Den Anforderungen der Industrie gerecht werden (DIN-Norm) ${deFlag}`
    subTitle="Bei Zeko Bau stellen wir uns den einzigartigen Herausforderungen im Bausektor. Wir möchten Ihnen dabei helfen, Hindernisse zu überwinden und Ihre Ziele zu erreichen."
    src={featureImage}
    alt="Zeko Bau products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Passen Sie das Angebot von <span class="text-yellow-500 dark:text-yellow-400">Zeko Bau</span> perfekt an Ihre baulichen Bedürfnisse an. `
    tabs={[
      {
        heading: "Estrichbau",
        content:
          "Unser Unternehmen ist spezialisiert auf Putzbau für Innen- und Außenbereiche. Wir sorgen für eine perfekte Oberfläche, egal ob es um Schutz, Isolierung oder Ästhetik geht. Unsere Experten arbeiten präzise und effizient, um die besten Ergebnisse zu erzielen.",
        svg: "tools",
        src: Estrich,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Betonmauer",
        content:
          "Als Profis im Betonmauerbau bieten wir langlebige und robuste Lösungen für Ihre Bauvorhaben. Unsere Betonwände sind nicht nur stabil, sondern auch ästhetisch ansprechend, um die Anforderungen unserer Kunden zu erfüllen.",
        svg: "dashboard",
        src: Beton,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Putzbau",
        content:
          "Wir sind Ihr zuverlässiger Partner für professionellen Putzbau. Mit Präzision und Sorgfalt realisieren wir Projekte jeder Größe – von der einfachen Wandverkleidung bis hin zur komplexen Fassadengestaltung.",
        svg: "house",
        src: Putz,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Bodenbeschichtung",
        content:
          "Als führender Spezialist im Bereich Bodenbeschichtung bieten wir innovative Lösungen für Industrie, Gewerbe und Privatbereiche. Unsere hochwertigen Beschichtungssysteme schützen Ihre Böden nicht nur vor Abnutzung und chemischen Einflüssen, sondern verbessern auch die Sicherheit und Ästhetik Ihrer Räumlichkeiten.",
        svg: "house",
        src: Boden,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <!--   <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At Zeko Bau, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "Zeko Bau dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with Zeko Bau tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  /> -->

  <!--   <PricingSection pricing={pricing} /> -->

  <!--   <FAQ title="Frequently<br />asked questions" faqs={faqs} /> -->

  <HeroSectionAlt
    title="Lassen Sie uns gemeinsam aufbauen"
    subTitle="Wir sind mit unserem Expertenteam bereit."
    url="https://zekobaugmbh.com/kontakt"
  />
</MainLayout>
